* {
  margin: 0;
  padding: 0;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f7fb;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
}

.start-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f5f7fb;
  gap: 30px;
}
/* Start Section Styles */
.start-quiz-btn {
  height: 52px;
  width: 193px;
  border-radius: 15px;
  background: #4d5b9e;
  color: white;
  font-size: 25px;
  cursor: pointer;
}

.start-blob1 {
  position: absolute;
  width: 318px;
  height: 284px;
  right: 0;
  top: 0;
  opacity: 0.85;
}
.start-blob2 {
  position: absolute;
  width: 297px;
  height: 235px;
  left: 0;
  bottom: 0;
  opacity: 0.85;
}

/* Main Section Styles */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f5f7fb;
  gap: 30px;
}
.check-answers-btn {
  height: 52px;
  width: 193px;
  border-radius: 15px;
  background: #4d5b9e;
  color: white;
  font-size: 25px;
  cursor: pointer;
}
.main-blob1 {
  position: absolute;
  width: 160px;
  height: 130px;
  right: 0;
  top: 0;
  opacity: 0.8;
}
.main-blob2 {
  position: absolute;
  width: 95px;
  height: 90px;
  left: 0;
  bottom: 0;
  opacity: 0.8;
}
/* Question Section */
.question-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  border-bottom: 1px solid;
  padding: 10px;
  width: 80%;
}
.options {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-around;
  align-items: center;
}
.option-btn {
  width: auto;
  height: auto;
  border: 0.771045px solid #4d5b9e;
  box-sizing: border-box;
  border-radius: 7.71045px;
  background: none;
  font-size: 25px;
  padding: 7px;
  cursor: pointer;
  min-width: 100px;
}
.option-btn:hover {
  background: #d6dbf5;
}
.active {
  background-color: #d6dbf5;
}
.result-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.result {
  font-size: 25px;
}
.result-btn {
  height: 52px;
  width: 193px;
  border-radius: 15px;
  background: #4d5b9e;
  color: white;
  font-size: 25px;
  cursor: pointer;
}
